<div class="wrapper">
  <div *ngIf="!loggedIn" class="login-box">
    <h2>This is a demonstration of OAuth login</h2>  
      <br>
      <a mat-raised-button class="mat-flat-button mat-primary" (click)="onLoginClick()">Log in</a>
      <br>
      <a mat-raised-button class="mat-flat-button mat-primary" href="https://google.com">Log in with NanoAuth</a>
  </div>
  <div *ngIf="loggedIn || token()" class="login-box">
    <h2>{{welcomeMessage}} {{user}}</h2>
    <br>
    <a mat-raised-button class="mat-flat-button mat-primary" (click)="onLogoutClick()">Log out</a>
  </div>
</div>