.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    border-radius: 10px;
    min-height: 400px;
    height: 50vh;
    min-width: 400px;
    width: 50vw;
}